@font-face {
  font-family: Asap;
  src: url(../fonts/Asap-Bold.woff2) format("woff2"),
    url(../fonts/Asap-Bold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Asap;
  src: url(../fonts/Asap-Medium.woff2) format("woff2"),
    url(../fonts/Asap-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Asap;
  src: url(../fonts/Asap-Regular.woff2) format("woff2"),
    url(../fonts/Asap-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Asap;
  src: url(../fonts/Asap-SemiBold.woff2) format("woff2"),
    url(../fonts/Asap-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --wh: #ffffff;
  --bg-dr: #fbfbfb;
  --wh-dr: #fdfdff;
  --red-lg: #f3d7d9;
  --primary-dr: #dd1120;
  --grey-lg: #eeeeee;
  --bl: #121212;
  --bl-dr: #5d5d5d;
  --bl-lg: #787878;
  --asap: "Asap", sans-serif;
  --fz-22: clamp(16px, 2.4vw, 22px);
  --br-26: 26px;
}

body {
  font: 400 normal clamp(14px, 1.6vw, 16px) / normal var(--asap), sans-serif;
  background-color: var(--bg-dr);
  color: var(--bl);
}

dd {
  margin: 0;
}

.container {
  /* отступы */
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1300px;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-base {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.title {
  font-size: clamp(44px, 4.2vw, 60px);
  color: var(--wh-dr);
  font-weight: 600;
  line-height: 1.08;
}

.subtitle {
  margin-bottom: clamp(25px, 4vw, 47px);
  font-size: clamp(25px, 3.3vw, 46px);
  color: var(--wh-dr);
  font-weight: 600;
  color: var(--bl);
}

.subtitle span {
  color: var(--primary-dr);
}

.label {
  font-size: clamp(18px, 2.1vw, 28px);
  font-weight: 600;
}

.subject {
  font-size: var(--fz-22);
  font-weight: 600;
  margin-bottom: clamp(12px, 2.3vw, 20px);
  text-wrap: balance;
}

.btn {
  display: inline-block;
  height: 50px;
  padding: 16px 24px 16px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.14px;
  transition: all 0.4s;
}

.btn.black {
  color: var(--wh);
  border: 1px solid #47474b;
  background: linear-gradient(197deg, #1c1c1f 11.55%, #787885 366.2%);
}

.btn.rose {
  color: #f3d7d9;
  border: 1px solid #e6525c;
  background: #e2333f;
}

.btn.red {
  color: var(--wh);
  background: var(--primary-dr);
}

.btn.white {
  background: var(--wh);
}

.icon-arrow {
  width: 18px;
  height: 18px;
  stroke: var(--wh);
}

.btn svg {
  margin-bottom: 3px;
  margin-left: 6px;
}

.btn.rose .icon-arrow {
  stroke: var(--red-lg);
}

.btn.white .icon-arrow {
  stroke: var(--bl);
}

.btn.red .icon-arrow {
  stroke: var(--wh);
}

header {
  margin-top: 10px;
}

.header__inner {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--wh);
  padding: 15px;
  border-radius: 24px;
  box-shadow: 0px 4px 41.9px 0px rgba(21, 21, 24, 0.05);
}

.logo__img {
  height: 36px;
}

nav {
  margin-left: auto;
}

.nav__items {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.14px;
  gap: 25px clamp(20px, 2vw, 40px);
}

.nav__item {
  transition: color 0.4s;
}

.burger {
  display: none;
}

.welcome {
  margin-top: 10px;
  margin-bottom: 70px;
  overflow: hidden;
  text-wrap: balance;
}

.welcome__container {
  gap: 30px 25px;
  background: url(../img/welcome-bg.svg) no-repeat center center / cover;
  border-radius: var(--br-26);
  padding-inline: clamp(20px, 3vw, 50px);
  height: 650px;
}

.welcome__box {
  margin-bottom: auto;
  margin-top: auto;
}

.welcome__title,
.welcome__text {
  margin-bottom: 28px;
  max-width: 576px;
}

.welcome__text {
  color: #fbe3e5;
  font-size: var(--fz-22);
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: 0.88px;
}
.welcome__box-buttons {
  gap: 12px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.schedule,
.mission,
.philosophy,
.payment,
.visa,
.questions {
  margin-bottom: clamp(70px, 9vw, 120px);
}

.schedule__container {
  gap: 25px clamp(25px, 6.6vw, 90px);
}

.schedule__subtitle {
  width: 221px;
  margin-bottom: 22px;
}

.schedule__columns-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.schedule__item {
  border-radius: var(--br-26);
  background: var(--wh);
  -webkit-box-shadow: 0px 4px 41.9px 0px rgba(21, 21, 24, 0.02);
  box-shadow: 0px 4px 41.9px 0px rgba(21, 21, 24, 0.02);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.schedule__item-top {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: clamp(20px, 3.5vw, 30px);
  padding-inline: clamp(20px, 3.5vw, 30px);
  margin-bottom: clamp(20px, 4.4vw, 60px);
}

.schedule__item-number {
  color: #aeaeae;
  font-size: 16px;
  font-weight: 600;
}

.schedule__item-middle {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-inline: clamp(20px, 3.5vw, 30px);
  margin-bottom: clamp(20px, 4vw, 35px);
}

.schedule__item-text {
  color: var(--bl-lg);
  font-size: 15px;
  margin-bottom: clamp(20px, 4vw, 35px);
}

.schedule__item-point {
  position: relative;
  padding-left: 16px;
  font-weight: 500;
}

.schedule__item-point::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: calc(50% - 3px);
  left: 0;
  border-radius: 2px;
  background-color: var(--primary-dr);
}

.schedule__item-bottom {
  /* height: clamp(146px, 21.2vw, 186px); */
  padding-top: clamp(20px, 4vw, 35px);
  padding-bottom: clamp(20px, 3.5vw, 30px);
  padding-inline: clamp(20px, 3.5vw, 30px);
  border-top: 1px solid var(--grey-lg);
}

.schedule__item-dates {
  font-weight: 500;
  line-height: normal;
}
.schedule__item-date + .schedule__item-date {
  margin-top: 10px;
}

.mission__subtitle,
.philosophy__subtitle,
.questions__subtitle,
.contact__subtitle {
  text-align: center;
}

.mission__dl {
  gap: 12px 17px;
}

.mission__dl-box {
  min-height: 155px;
  padding-top: clamp(20px, 2.2vw, 22px);
  padding-left: clamp(20px, 2.2vw, 22px);
  padding-right: clamp(20px, 2.4vw, 26px);
  padding-bottom: clamp(35px, 4.5vw, 61px);
  background: url(../img/mission-bg-red.svg) no-repeat center center / cover;
  color: var(--wh);
  border-radius: var(--br-26);
}

.mission__dl-box:nth-child(even) {
  background-image: url(../img/mission-bg-blc.svg);
}

.mission__dl-box dd {
  margin-bottom: clamp(12px, 3vw, 17px);
  font-size: var(--fz-22);
  font-weight: 600;
}

.mission__dl-box dt {
  max-width: 364px;
}

.philosophy__container {
  padding-block: clamp(20px, 4.4vw, 60px);
  padding-inline: clamp(20px, 4.4vw, 40px);
  border-radius: var(--br-26);
  background: var(--wh);
  box-shadow: 0px 4px 41.9px 0px rgba(21, 21, 24, 0.02);
}

.philosophy__list {
  gap: 25px 30px;
}

.philosophy__point {
  width: 300px;
  width: clamp(250px, 45%, 380px);
  text-align: center;
}

.philosophy__point-box {
  border-radius: var(--br-26);
  background: var(--wh);
  box-shadow: 0px 4px 41.9px 0px rgba(21, 21, 24, 0.05);
  padding: 20px 20px 33px 20px;
}

.philosophy__text {
  color: #5e5e5e;
  font-weight: 500;
}

.camp__container {
  background: url(../img/camp-bg.svg) no-repeat left;
  padding-top: clamp(25px, 4.2vw, 50px);
  padding-bottom: clamp(25px, 4.2vw, 50px);
}

.camp__subtitle,
.questions__subtitle {
  margin-bottom: clamp(25px, 4.2vw, 55px);
}

.camp__item {
  padding-left: 23px;
  border-left: 3px solid var(--primary-dr);
  border-radius: 2px;
}
.camp__item + .camp__item {
  margin-top: 23px;
}

.camp__item:nth-child(2) {
  margin-left: 422px;
}

.camp__item:nth-child(3) {
  margin-left: 844px;
}

.camp__img {
  margin-bottom: 12px;
}

.camp__subject {
  margin-bottom: 12px;
}
.camp__text {
  max-width: 399px;
  color: var(--bl-dr);
  padding-bottom: 7px;
}

.coach,
.registration,
.partners {
  padding-top: clamp(40px, 4.5vw, 60px);
  padding-bottom: clamp(40px, 4.5vw, 60px);
  background: #f6f6f6;
}

.coach__container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px 40px;
}

.coach__subtitle {
  margin-bottom: 0;
}

.coach__line {
  width: 100%;
  height: auto;
}

.coach__list {
  gap: clamp(15px, 3.5vw, 40px);
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.coach__point {
  width: 254px;
}
.coach__number {
  font-size: var(--fz-22);
  color: #e45056;
  margin-bottom: clamp(20px, 3.6vw, 25px);
}

.coach__label {
  margin-bottom: 12px;
}
.coach__text {
  margin-bottom: clamp(25px, 3.6vw, 40px);
  color: #5e5e5e;
}
.coach__img {
  border-radius: var(--br-26);
}

.registration__items {
  gap: 20px;
}

.registration__item {
  padding: 22px;
  width: clamp(130px, 47%, 302px);
  background-color: var(--primary-dr);
  border-radius: var(--br-26);
  color: var(--wh);
}

.registration__item:nth-child(6n - 2),
.registration__item:nth-child(6n - 3) {
  background-color: var(--bl);
}
.registration__number {
  font-size: clamp(20px, 2.1vw, 26px);
  margin-bottom: clamp(15px, 3.1vw, 40px);
  font-weight: 500;
}

.registration__subject {
  margin-bottom: 12px;
}
.registration__text {
  color: #e7e7e7;
}

.partners {
  margin-bottom: clamp(40px, 4.5vw, 60px);
}

.partners__container {
  position: relative;
  overflow: hidden;
  gap: clamp(28px, 4vw, 42px);
}

.partners__items {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  gap: clamp(28px, 4vw, 42px);
  -webkit-animation: scroll 20s linear infinite;
  animation: scroll 20s linear infinite;
}

.partners__item-img {
  height: 73px;
}

.partners__container:before,
.partners__container:after {
  content: "";
  height: 100%;
  top: 0;
  width: 8%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.partners__container:before {
  left: 0;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(246, 246, 246, 0)),
    to(#f6f6f6)
  );
  background: -o-linear-gradient(
    right,
    rgba(246, 246, 246, 0) 0%,
    #f6f6f6 100%
  );
  background: linear-gradient(270deg, rgba(246, 246, 246, 0) 0%, #f6f6f6 100%);
}

.partners__container:after {
  right: 0;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(246, 246, 246, 0)),
    to(#f6f6f6)
  );
  background: -o-linear-gradient(left, rgba(246, 246, 246, 0) 0%, #f6f6f6 100%);
  background: linear-gradient(90deg, rgba(246, 246, 246, 0) 0%, #f6f6f6 100%);
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(calc(-100% - 0px));
    transform: translateX(calc(-100% - 0px));
  }
}

.payment__container,
.visa__container {
  gap: 15px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.payment__img,
.visa__img {
  border-radius: var(--br-26);
  -o-object-fit: cover;
  object-fit: cover;
}
.payment__box,
.visa__box {
  width: 100%;
  max-width: 828px;
  padding: clamp(15px, 2.8vw, 30px);
  border-radius: var(--br-26);
  background: var(--wh);
  box-shadow: 0px 4px 41.9px 0px rgba(21, 21, 24, 0.02);
}

.payment__subtitle {
  margin-bottom: clamp(20px, 3.2vw, 35px);
  margin-left: 13px;
}

.payment__list-box {
  margin-bottom: clamp(20px, 3.2vw, 35px);
  font-size: clamp(14px, 1.4vw, 18px);
}

.payment__list + .payment__list {
  margin-top: clamp(12px, 2.8vw, 30px);
}

.payment__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 15px 1fr 15px auto;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 15px;
}
.payment__list-label {
  font-weight: 500;
}

.payment__list-line {
  background: url(../img/line.svg);
  height: 1px;
  background-repeat: repeat-x;
}

.payment__list-text {
  color: #5d5d5d;
  text-align: right;
}

.visa__container {
  margin-bottom: clamp(12px, 2.8vw, 30px);
}

.visa__box {
  position: relative;
}

.visa__box::after {
  content: "";
  position: absolute;
  background: url(../img/visa-arrow.svg) no-repeat center center / cover;
  width: 80px;
  height: 55px;
  top: 45px;
  left: 35vw;
}

.visa__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.visa__item {
  padding: 20px;
  border-radius: var(--br-26);
  background: var(--wh);
  box-shadow: 0px 4px 41.9px 0px rgba(21, 21, 24, 0.05);
}

.visa__text {
  color: #5e5e5e;
}

.btn-box {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.questions__subtitle {
  text-wrap: balance;
}

.questions__item {
  margin-bottom: 20px;
  border-radius: 36px;
  border: 1px solid var(--grey-lg);
  box-shadow: 0px 4px 21.4px 0px rgba(2, 2, 2, 0.03);
}
.questions__item-caption {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 90px;
  text-align: left;
  background-color: transparent;
  border: none;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 600;
}

.questions__item-caption::after {
  content: "";
  position: absolute;
  background: url(../img/plus.svg) no-repeat center center / cover;
  width: 48px;
  height: 48px;
  right: 30px;
  top: calc(50% - 24px);
  transition: all 0.8s;
}

.questions__item-caption.questions__item-caption--active::after {
  transform: rotate(90deg);
  background: url(../img/plus-red.svg) no-repeat center center / cover;
}

.questions__item-text {
  opacity: 0;
  max-height: 0;
  padding-right: 140px;
  padding-left: 30px;
  -webkit-transition: opacity 0.3s, max-height 0.5s;
  -o-transition: opacity 0.3s, max-height 0.5s;
  transition: opacity 0.3s, max-height 0.5s;
  color: #7e7e7e;
  font-weight: 500;
}

.questions__item-text.questions__item-text--visible {
  opacity: 1;
  margin-bottom: 15px;
}

@keyframes arrow {
  0% {
    transform: translateX(0px) translateY(0px);
  }

  50% {
    transform: translateX(5px) translateY(-5px);
  }

  100% {
    transform: translateX(0px) translateY(0px);
  }
}

@media (min-width: 1010px) {
  .nav__item:hover {
    color: var(--primary-dr);
  }

  .btn:hover .icon-arrow {
    animation: arrow 1s linear;
  }
}

@media (max-width: 1150px) {
  .mission__dl {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .camp__container {
    background-image: url(../img/camp-bg-middle.svg);
  }

  .camp__item:nth-child(2) {
    margin-left: 286px;
  }

  .camp__item:nth-child(3) {
    margin-left: 572px;
  }

  .coach__line {
    overflow-x: scroll;
  }

  .coach__list {
    width: -moz-min-content;
    width: min-content;
    margin-bottom: 30px;
  }

  .coach__line::-webkit-scrollbar-track {
    background-color: #dfdfdf;
  }

  .coach__line::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--primary-dr);
  }

  .coach__line::-webkit-scrollbar {
    height: 6px;
  }

  @supports (-moz-appearance: none) {
    .coach__line {
      scrollbar-width: thin;
      scrollbar-color: var(--primary-dr) #dfdfdf;
    }

    .coach__line::-moz-scrollbar {
      width: 6px;
      height: 6px;
    }
  }

  .visa__box::after {
    width: 73px;
    height: 50px;
    top: 30px;
  }
}

@media (max-width: 1000px) {
  .btn {
    height: 44px;
    padding: 13px 20px 10px;
  }

  nav {
    margin-left: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .burger {
    position: relative;
    display: block;
    background: 0 0;
    width: 30px;
    height: 30px;
    padding-bottom: 6px;
    cursor: pointer;
    outline: 0;
    border: none;
    z-index: 10;
  }

  .burger span {
    position: absolute;
    display: block;
    left: 0;
    height: 3.5px;
    width: 100%;
    background: var(--primary-dr);
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: cubic-bezier(
      0.495,
      -0.495,
      0.44,
      1.445
    );
    -o-transition-timing-function: cubic-bezier(0.495, -0.495, 0.44, 1.445);
    transition-timing-function: cubic-bezier(0.495, -0.495, 0.44, 1.445);
  }

  .burger span:after,
  .burger span:before {
    content: "";
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 100%;
    background: var(--primary-dr);
    left: 0;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

  .burger span:before {
    top: -8px;
    -webkit-transition-property: width, margin-left, margin-top, height;
    -o-transition-property: width, margin-left, margin-top, height;
    transition-property: width, margin-left, margin-top, height;
    -webkit-transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
    -o-transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
    transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
    -webkit-transition-delay: 0.4s, 0.4s, 0.2s, 0.2s;
    -o-transition-delay: 0.4s, 0.4s, 0.2s, 0.2s;
    transition-delay: 0.4s, 0.4s, 0.2s, 0.2s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  .burger span:after {
    bottom: -8px;
    -webkit-transition-property: width, margin-left;
    -o-transition-property: width, margin-left;
    transition-property: width, margin-left;
    -webkit-transition-duration: 0.2s, 0.2s;
    -o-transition-duration: 0.2s, 0.2s;
    transition-duration: 0.2s, 0.2s;
    -webkit-transition-delay: 0.4s, 0.4s;
    -o-transition-delay: 0.4s, 0.4s;
    transition-delay: 0.4s, 0.4s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  .burger.open span {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }

  .burger.open span:after {
    width: 0;
    margin-left: 28px;
    -webkit-transition-delay: 0s, 0s;
    -o-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
  }

  .burger.open span:before {
    width: 3.5px;
    margin-left: 13px;
    margin-top: -5px;
    height: 30px;
    -webkit-transition-delay: 0s, 0s, 0.2s, 0.4s;
    -o-transition-delay: 0s, 0s, 0.2s, 0.4s;
    transition-delay: 0s, 0s, 0.2s, 0.4s;
  }

  .nav__items {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--bg-dr);
    z-index: 8;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    transform: translateX(-110%);
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  .nav__items.menu-open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    overflow: hidden;
  }

  .nav__item {
    width: 100%;
    text-align: center;
  }

  .nav__item-link {
    display: inline-block;
    width: 100%;
  }

  .welcome__container {
    height: 520px;
    height: 60vw;
  }

  .philosophy__list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .philosophy__point {
    flex-basis: none;
  }

  .registration__items {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .registration__item {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 37.8%;
    -ms-flex: 1 1 37.8%;
    flex: 1 1 37.8%;
  }

  .payment__list {
    gap: 8px;
  }

  .payment__img,
  .visa__img {
    width: 37%;
  }

  .questions__item {
    margin-bottom: 20px;
    border-radius: 24px;
  }
  .questions__item-caption,
  .questions__item-text {
    padding-right: 75px;
  }

  .questions__item-caption::after {
    width: 36px;
    height: 36px;
    top: calc(50% - 18px);
  }
}

@media (max-width: 875px) {
  :root {
    --br-26: 20px;
  }

  .schedule__container,
  .coach__container,
  .visa__container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .mission__subtitle,
  .philosophy__subtitle,
  .questions__subtitle,
  .contact__subtitle {
    text-align: left;
  }

  .mission__dl-box {
    background-image: url(../img/mission-bg-red-mini.svg);
  }

  .mission__dl-box:nth-child(even) {
    background-image: url(../img/mission-bg-blc-mini.svg);
  }

  .camp__item:nth-child(2) {
    margin-left: 143px;
  }

  .camp__item:nth-child(3) {
    margin-left: 286px;
  }

  .coach__point {
    width: 240px;
  }

  .partners__item-img {
    height: 55px;
  }

  .payment__subtitle {
    margin-left: 0;
  }

  .payment__img {
    width: 70%;
    height: 37vw;
    -o-object-position: 0 -12vw;
    object-position: 0 -12vw;
  }

  .payment__container {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .visa__container,
  .payment__container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .visa__img {
    width: 70%;
    height: 44vw;
    -o-object-position: 0 -5vw;
    object-position: 0 -5vw;
  }

  .visa__box::after {
    top: 23px;
  }

  .questions__item-caption {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .questions__item-caption::after {
    right: 20px;
  }

  .questions__item-text.questions__item-text--visible {
    margin-bottom: 10px;
  }

  .questions__item-text {
    padding-left: 20px;
  }
}

@media (max-width: 630px) {
  .welcome__container {
    height: auto;
    padding-top: 40px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-inline: 0;
  }

  .welcome__box {
    padding-right: 20px;
    padding-left: 20px;
  }

  .welcome__title {
    margin-bottom: 10px;
  }

  .welcome__text {
    margin-bottom: 20px;
  }

  .mission__dl-box {
    min-height: 145px;
  }

  .camp__container {
    background-image: url(../img/camp-bg-mini.svg);
  }

  .camp__item {
    padding-left: 17px;
  }

  .camp__item:nth-child(2) {
    margin-left: 104px;
  }

  .camp__item:nth-child(3) {
    margin-left: 208px;
  }

  .visa__box::after {
    width: 52px;
    height: 35px;
    left: 54vw;
  }
}

@media (max-width: 500px) {
  .welcome__container {
    background-image: url(../img/welcome-bg-mini.svg);
  }

  .welcome__img-m {
    object-fit: none;
    object-position: top;
    border-bottom-right-radius: 20px;
  }

  .schedule__columns-two {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .schedule__subtitle {
    margin-bottom: 16px;
  }

  .schedule__item-text {
    font-size: 14px;
  }

  .schedule__item-img {
    width: 30px;
  }

  .schedule__item-date.none {
    display: none;
  }

  .camp__container {
    background-image: url(../img/camp-bg-minis.svg);
  }

  .camp__item:nth-child(2) {
    margin-left: 54px;
  }

  .camp__item:nth-child(3) {
    margin-left: 108px;
  }

  .registration__item {
    padding: 16px;
  }

  .payment__container {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .payment__img,
  .visa__img {
    width: 100%;
    height: 64vw;
  }

  .visa__img {
    -o-object-position: 0 -7vw;
    object-position: 0 -7vw;
  }

  .payment__list-text.two {
    max-width: 130px;
  }

  .payment__list-text.three {
    max-width: 120px;
  }

  .payment__list-text.four {
    max-width: 148px;
  }

  .payment__list-line {
    background: url(../img/line-short.svg);
  }

  .visa__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .visa__box::after {
    left: 60vw;
  }

  .questions__item {
    margin-bottom: 10px;
  }
  .questions__item-caption,
  .questions__item-text {
    padding-right: 60px;
  }

  .questions__item-caption {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
  }

  .questions__item-caption::after {
    right: 15px;
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
  }

  .questions__item-text {
    padding-left: 15px;
  }
}

@media (max-width: 400px) {
  .welcome__box-btn {
    width: 100%;
    text-align: center;
  }

  .welcome__img-m {
    height: 220px;
  }

  .mission__dl-box {
    min-height: 127px;
  }

  .visa__box::after {
    left: auto;
    right: 40px;
    width: 42px;
    height: 29px;
  }
}
